{% extends 'base.html' %}

{% block title %}Домашние задания{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
    <h2>Домашние задания</h2>
    <!-- Список домашних заданий -->
    <ul class="list-group">
        {% for assignment in assignments %}
            <li class="list-group-item">
                <h5>{{ assignment.subject }}</h5>
                <p>{{ assignment.description }}</p>
                <small>Дата выдачи: {{ assignment.start_date }} | Срок: {{ assignment.duration }} дней</small>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
